<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body>
    
    <nav style="color:white;" class="navbar navbar-dark bg-dark">
        <div style="flex-direction:row !important; float:left">
            <svg style="color:white; margin:5px; padding:0px" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-webcam" viewBox="0 0 16 16">
                <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H9.269c.144.162.33.324.531.475a6.785 6.785 0 0 0 .907.57l.014.006.003.002A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.224-.947l.003-.002.014-.007a4.473 4.473 0 0 0 .268-.148 6.75 6.75 0 0 0 .639-.421c.2-.15.387-.313.531-.475H2a2 2 0 0 1-2-2V6Zm2-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H2Z"/>
                <path d="M8 6.5a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0Zm7 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
            </svg>
            <h5 style="display:inline;"> Quality Assurance</h5>
            <a  
               href="/user"> Home </a>
            <a 
               href="/CustomerService"> Customer Service</a>
            <a 
               href="/Logout"> Salir</a>
        </div>
    </nav>
    


    <div class="container p-4">
        <div class="container-fluid">
            <center>
                <h4>Captura de Cámara</h4>
                <video class="vidElement" autoplay="true" id="vidElement"></video><br>
                <button id="btn" class="btn btn-primary"> Tomar foto</button>
                <br><br><br>
                <h4>Subir Foto</h4>
                <div class="input-group mb-3">
                    <input type="file" onchange="onFileSelected(event)" id="imageLoader" name="imageLoader" class="form-control">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
                <br>
                <h4>Usar Link</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                    <input id="inputLink" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <button onclick="btnLink()" class="btn btn-primary">Analizar </button><br><br>
            </center>

            <div id="myModal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Analysis</h5>
                      <button id="close" type="button" class="btn btn-close"></button>
                    </div>
                    <div class="modal-body">
                        <center>
                            <canvas id="canvas"width="460px" height="365px" ></canvas>
                        </center>
                        <div id="load" class="spinner-border text-secondary" role="status">
                        </div>
                        <br>
                        <center>
                        <div class="card" style="width: 25rem;">
                            <div class="card-header">
                              <h4>Resultados</h4>
                            </div>
                            <ul style="text-align:left" class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <b>Apto para consumo: </b> <p id="cons"> analizando... </p>
                                </li>
                                <li class="list-group-item">
                                    <b>Probabilidad: </b> <p id="prob"> analizando... </p>
                                </li>
                            </ul>
                        </div>
                    </center>
                    </div>
                    <div class="modal-footer">
                      <button id="done" type="button" class="btn btn-secondary">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <script src="https://js.upload.io/upload-js/v1"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>