<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body>
    <div class="sidebar">
      <center><h3>Admin</h3></center>
      <hr style="margin: 0px; padding:0px">
      <a href="/admin"><i class="bi bi-speedometer2"></i> Dashboard</a>
      <a href="/Clients"><i class="bi bi-people"></i> Clientes</a>
      <a class="active" href="/Stats"><i <i class="bi bi-clipboard-data"></i> Estadísticas</a>
    </div>
    <%- include('../../partials/message'); %>
    
    <div class="content">
      <h2>Estadísticas</h2>
      <br>
    </div>

    <script>
      var close = document.getElementsByClassName("closebtn");
      var i;
      for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
          var div = this.parentElement;
          div.style.opacity = "0";
          setTimeout(function(){ div.style.display = "none"; }, 200);
        }
      }
      </script>
  </body>
</html>